<div class="timer">
  <!-- Barra de progreso que refleja el progreso de la cuenta regresiva -->
  <app-progress-bar [progress]="progress"></app-progress-bar>

  <!-- Componente que muestra el tiempo restante de la cuenta regresiva -->
  <app-display [time]="countdown"></app-display>

  <div class="buttons">
    <!-- Botón de Play que solo se muestra si el temporizador está pausado (timer.paused) y habilitado cuando countdown no es 0 -->
    <button *ngIf="timer.paused" (click)="timer.toogleCountdown()" [disabled]="countdown==0">Play</button>

    <!-- Botón de Pause que solo se muestra si el temporizador no está pausado (timer.paused) y habilitado cuando countdown no es 0 -->
    <button *ngIf="!timer.paused" (click)="timer.toogleCountdown()" [disabled]="countdown==0">Pause</button>

    <!-- Botón de Restart que reinicia el temporizador -->
    <button (click)="timer.restartCountdown()">RESTART</button>
  </div>

</div>
